*{
    box-sizing:border-box;
    margin: 0;
}


:root{
--color-purple: #B27CF0;
--color-black: #231E1A;
--color-yellow:#F7E864;
--color-white: #ffffff;
--color-blue:#12F4F8;
--color-grey: #E2E2E2;
--border-main: 2px solid #231E1A;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&family=Roboto+Mono:wght@300;400;700&display=swap');


html,body {
    font-size: 62.5%;
    font-family: 'Poppins';
    margin: 0;
    padding: 2rem;
    color: var(--color-black);
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--color-black);
    cursor: pointer;
    border-bottom:none;
    font-weight: 400;
    padding: 0.5rem;
    font-family: 'Roboto Mono';

        &:hover{
            color: #B27CF0;
            text-decoration: underline;
        }

            
}

a:active{
    background-color: #231E1A;
    color: white;
    text-decoration: none;
    font-family: 'Roboto Mono';
    font-weight: 700;
    }

footer{
    margin-bottom: 0;
}


.divider{
    background: linear-gradient(90deg, rgba(247,232,100,1) 0%, rgba(0,212,255,1) 100%);
    height: 1.5px;
    margin-top: 2rem;
    margin-bottom: 5rem;
    max-height: 1.5px;
    
}