@import "custom-properties";
$font:'RobotoMono';

header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;    
    margin: 0;
    border-bottom:none;
    align-items: center;
    justify-content: space-between;
}

.header_logo{
    width: 15rem;   
    height: auto; 
    min-width: 15rem;
}

hr{
    display: none;
}

svg.bi.bi-list {
    display: none;
}


div.menu {

    display: inline;
    font-size: 1.2rem;

}

/*MOBILE*/


@media screen and (max-width: 600px) {

svg.bi.bi-list {
    display: block;
    width: 5rem;
    height: auto;
    cursor: pointer;
    
    &:active{
        fill: var(--color-purple);
}

}


div.menu ul li{
    list-style: none;
    font-family: var('RobotoMono');
    font-style: normal;
    transform: translateX(100%);
    position: absolute;
}




}