@import "custom-properties";
$font:'RobotoMono';

header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;    
    border-bottom:none;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
}

.header_logo{
    width: 15rem;   
    height: auto; 
    min-width: 15rem;
}

hr{
    display: none;
}

svg.bi.bi-list {
    display: none;
}


nav ul li{

    display: flex;
    font-size: 1.4rem;
    justify-content: space-between;
    list-style: none;
    flex-direction: row;
}

#menu-menu-1{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}


/*MOBILE*/


@media screen and (max-width: 600px) {

svg.bi.bi-list {
    display: block;
    width: 5rem;
    height: auto;
    cursor: pointer;
    
    &:active{
        fill: var(--color-purple);
}

}


nav ul li{
    list-style: none;
    font-family: var('RobotoMono');
    font-style: normal;
    transform: translateX(100%);
    position: absolute;
}




}