@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&family=Roboto+Mono:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&family=Roboto+Mono:wght@300;400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --color-purple: #B27CF0;
  --color-black: #231E1A;
  --color-yellow:#F7E864;
  --color-white: #ffffff;
  --color-blue:#12F4F8;
  --color-grey: #E2E2E2;
  --border-main: 2px solid #231E1A;
}

html, body {
  font-size: 62.5%;
  font-family: "Poppins";
  margin: 0;
  padding: 2rem;
  color: var(--color-black);
}

body {
  background-color: var(--color-white);
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--color-black);
  cursor: pointer;
  border-bottom: none;
  font-weight: 400;
  padding: 0.5rem;
  font-family: "Roboto Mono";
}
a:hover {
  color: #B27CF0;
  text-decoration: underline;
}

footer {
  margin-bottom: 0;
}

.divider {
  background: -webkit-gradient(linear, left top, right top, from(rgb(247, 232, 100)), to(rgb(0, 212, 255)));
  background: linear-gradient(90deg, rgb(247, 232, 100) 0%, rgb(0, 212, 255) 100%);
  height: 1.5px;
  margin-top: 2rem;
  margin-bottom: 5rem;
  max-height: 2px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --color-purple: #B27CF0;
  --color-black: #231E1A;
  --color-yellow:#F7E864;
  --color-white: #ffffff;
  --color-blue:#12F4F8;
  --color-grey: #E2E2E2;
  --border-main: 2px solid #231E1A;
}

html, body {
  font-size: 62.5%;
  font-family: "Poppins";
  margin: 0;
  padding: 2rem;
  color: var(--color-black);
}

body {
  background-color: var(--color-white);
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--color-black);
  cursor: pointer;
  border-bottom: none;
  font-weight: 400;
  padding: 0.5rem;
  font-family: "Roboto Mono";
}
a:hover {
  color: #B27CF0;
  text-decoration: underline;
}

footer {
  margin-bottom: 0;
}

.divider {
  background: -webkit-gradient(linear, left top, right top, from(rgb(247, 232, 100)), to(rgb(0, 212, 255)));
  background: linear-gradient(90deg, rgb(247, 232, 100) 0%, rgb(0, 212, 255) 100%);
  height: 1.5px;
  margin-top: 2rem;
  margin-bottom: 5rem;
  max-height: 2px;
}

header {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  border-bottom: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_logo {
  width: 15rem;
  height: auto;
  min-width: 15rem;
}

hr {
  display: none;
}

svg.bi.bi-list {
  display: none;
}

div.menu ul li {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.2rem;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

/*MOBILE*/
@media screen and (max-width: 600px) {
  svg.bi.bi-list {
    display: block;
    width: 5rem;
    height: auto;
    cursor: pointer;
  }
  svg.bi.bi-list:active {
    fill: var(--color-purple);
  }
  div.menu ul li {
    list-style: none;
    font-family: var("RobotoMono");
    font-style: normal;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    position: absolute;
  }
}
footer {
  bottom: 0;
  margin-bottom: 0;
}

main {
  margin-bottom: 0;
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  bottom: 0;
}

.footer__logo {
  width: 15rem;
  height: auto;
  min-width: 15rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
}

#contact__text {
  font-size: 1.5rem;
  color: var(--color-purple);
}

.footer__legend {
  font-family: "Roboto Mono";
  font-weight: 400;
}

.legal {
  color: var(--color-black);
  margin-right: 5rem;
}

.divider-footer {
  background: -webkit-gradient(linear, left top, right top, from(rgb(247, 232, 100)), to(rgb(0, 212, 255)));
  background: linear-gradient(90deg, rgb(247, 232, 100) 0%, rgb(0, 212, 255) 100%);
  height: 0.1rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

@media screen and (min-width: 700px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}